.liveCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  gap: 20px;
  border-radius: 16px;
  border: 1px solid #DEE0E3;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(20, 21, 26, 0.05);
  box-sizing: border-box;
}

@media (max-width: 550px) {
  .liveCard {
    padding: 12px;
    gap: 16px;
  }
}

@media (max-width: 420px) {
  .liveCard {
    padding: 10px;
    gap: 12px;
  }
}

.cardHeader {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 4px;
  width: 100%;
}

.badgeEnter {
  display: flex;
  padding: 2px 6px;
  justify-content: center;
  align-items: center;
  gap: 0px;
  border-radius: 999px;
  border: 1px solid rgba(10, 15, 41, 0.08);
  background: rgba(16, 185, 129, 0.10);

  color: #10B981;
  text-align: center;

  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.1px;
}

.badgeExit {
  display: flex;
  padding: 2px 6px;
  justify-content: center;
  align-items: center;
  gap: 0px;
  border-radius: 999px;
  border: 1px solid rgba(10, 15, 41, 0.08);
  background: #FDEAD8;

  color: #AE590A;
  text-align: center;

  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.1px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cardDate {
  color: rgba(15, 19, 36, 0.60);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.personInfo {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
}

.personGroup {
  color: rgba(15, 19, 36, 0.60);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding-right: 8px;
  border-right: 1px solid rgba(15, 19, 36, 0.20);
}

.accessResult {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 500;
}

.accessSuccess {
  color: #10B981;
}

.accessDenied {
  color: #EF4444;
}

.personName {
  color: #14151A;

  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.3px;
}

.personLocation {
  color: rgba(15, 19, 36, 0.60);

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.cardFooter {
  display: flex;
  justify-content: flex-start;
  margin-top: auto;
}

.detailsButton {
  display: flex;
  padding: 6px 10px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 10px;
  border: 1px solid #DEE0E3;
  background: #FFF;

  box-shadow: 0px 1px 2px 0px rgba(20, 21, 26, 0.05);

  color: #14151A;
  text-align: center;

  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.1px;
  cursor: pointer;
}
