.dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  color: #14151A;
  align-self: flex-start;
  width: 100%;
}

.description {
  font-size: 16px;
  color: rgba(15, 19, 36, 0.70);
  margin-bottom: 32px;
  align-self: flex-start;
  width: 100%;
}

.statsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.statsRow {
  display: flex;
  gap: 24px;
  width: 100%;
}

@media (max-width: 768px) {
  .statsRow {
    flex-direction: column;
    gap: 16px;
  }
}


.analyticsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.liveContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.liveRow {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 24px;
  width: 100%;
}

.noData {
  grid-column: 1 / -1;
  text-align: center;
  padding: 24px;
  background: #F9FAFB;
  border-radius: 8px;
  color: #6B7280;
  font-size: 16px;
}

@media (max-width: 550px) {
  .liveRow {
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}

@media (max-width: 420px) {
  .liveRow {
    gap: 12px;
    grid-template-columns: 1fr;
  }
}